[Desktop Entry]
Name=tuotu
Comment=A new CrossPlatform FileTransfer Tool
Exec=tuotu
Icon=/root/Downloads/Unlimited-Transfer/tuotu.png
Terminal=false
Type=Application
Categories=Utilities
