[Desktop Entry]
Name=tuotu
Comment=A new CrossPlatform FileTransfer Tool
Exec=tuotu
Icon=${SNAP}/meta/gui/tuotu.png
Terminal=false
Type=Application
Categories=Utilities
